In [1]:
import pandas as pd

# Load data

In [2]:
train_data = pd.read_csv('./output/train_data_full.csv')

In [3]:
assert(len(train_data) == 7964397)

In [4]:
train_data['session_start_datetime'] = train_data['session_start_datetime'].astype('datetime64[ns]')

In [5]:
train_data.dtypes

session_start_datetime    datetime64[ns]
user_id                            int64
user_ip                            int64
primary_video_id                   int64
video_id                           int64
vod_type                          object
session_duration                   int64
device_type                       object
device_os                         object
player_position_min                int64
player_position_max                int64
time_cumsum_max                    int64
video_duration                     int64
watching_percentage              float64
dtype: object

In [6]:
train_data[:10]

,session_start_datetime,user_id,user_ip,primary_video_id,video_id,vod_type,session_duration,device_type,device_os,player_position_min,player_position_max,time_cumsum_max,video_duration,watching_percentage
0,2018-07-01 00:00:02.135,21603820,27241033,9583642,9583642,svod,688,web,Windows_10,6940,6940,93,8198,0.0839
1,2018-07-01 00:00:02.232,35636970,10887511,24645936,24645936,advod,3174,mobile,android,599,3173,0,5297,0.5990
2,2018-07-01 00:00:06.961,78312976,15427448,25397362,23346676,advod,3054,tv,samsung,599,3052,3032,3052,1.0000
3,2018-07-01 00:00:11.044,122261599,12021384,5205267,22898606,svod,2400,tv,netcast,600,2400,2378,2638,0.9100
4,2018-07-01 00:00:14.054,53477088,65858458,14098190,14098190,advod,2481,tv,webos,137,4849,2316,5115,0.4850
5,2018-07-01 00:00:17.381,126496517,2919189,11639197,5002540,advod,2899,tv,xbox,600,2899,2898,2899,1.0000
6,2018-07-01 00:00:22.808,100783573,43617798,1303792,1303792,advod,6290,tv,sonyps4,633,6323,5819,6323,0.9950
7,2018-07-01 00:00:23.134,35464390,65712496,21294660,21294660,advod,1545,web,Windows_10,223,1324,1323,6626,0.2330
8,2018-07-01 00:00:28.297,115133012,16108561,3828702,2909961,advod,23137,tv,tizen,21,249,267,299,1.0000
9,2018-07-01 00:00:36.136,66132892,29875258,26055309,24947211,svod,21702,tv,tizen,599,2636,2616,3372,1.0000

In [7]:
train_data.session_start_datetime.max()

Timestamp('2018-09-30 23:59:59.577000')

## TOP-10

In [8]:
top_10_videos = train_data.loc[train_data.session_start_datetime >= '2018-09-01 00:00:00',
                               'primary_video_id'].value_counts()[:10].index.tolist()

In [9]:
top_10_videos

[29114276,
 19624341,
 25397362,
 17141087,
 29646969,
 31588514,
 20236783,
 3657616,
 22526874,
 24633210]

### save

In [10]:
sample_submission = pd.read_csv('./output/sample_submission_full.csv')
sample_submission.primary_video_id = ' '.join([str(v) for v in top_10_videos])
sample_submission[:10]

   user_id                                   primary_video_id
0     1088  29114276 19624341 25397362 17141087 29646969 3...
1    28577  29114276 19624341 25397362 17141087 29646969 3...
2   188122  29114276 19624341 25397362 17141087 29646969 3...
3   235599  29114276 19624341 25397362 17141087 29646969 3...
4   274770  29114276 19624341 25397362 17141087 29646969 3...
5   554364  29114276 19624341 25397362 17141087 29646969 3...
6   564435  29114276 19624341 25397362 17141087 29646969 3...
7   946127  29114276 19624341 25397362 17141087 29646969 3...
8   955946  29114276 19624341 25397362 17141087 29646969 3...
9  1223195  29114276 19624341 25397362 17141087 29646969 3...

In [11]:
sample_submission.to_csv('./output/sample_submission_full_top10.csv.gz', header=True, index=False, compression='gzip')